.mengif,.marriedCouple,.singlemale,.singlefemale {
    background-repeat: no-repeat, repeat;
    background-size: 404px;
    position: relative;
    top: 200px;
    margin: auto;
    height: 300px;
    width: 350px;
    background-repeat: no-repeat, repeat;
}
.cartoon_img{
    padding-top: 100px;
    height: 410px;
    margin: auto;
    display: block;
    padding-right: 154px;
}
.dashboard {
    webkit-filter: blur(3px) !important;
    margin-left: 300px;
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: contain
}
.info_footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 49px;
    background-color: #BDBDBD !important;
}
.next-button{
    margin-top: 6px;
    margin-right: 24vw;
    float: right;
}