.mengif,.marriedCouple,.singlemale,.singlefemale {
    background-repeat: no-repeat, repeat;
    background-size: 404px;
    position: relative;
    top: 200px;
    margin: auto;
    height: 300px;
    width: 350px;
    background-repeat: no-repeat, repeat;
}
.cartoon_img{
    padding-top: 100px;
    height: 410px;
    margin: auto;
    display: block;
    padding-right: 154px;
}
.dashboard {
    webkit-filter: blur(3px) !important;
    margin-left: 300px;
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url("./images/insurance.jpg");
    background-size: contain
}