.mengif,.marriedCouple,.singlemale,.singlefemale {
    background-repeat: no-repeat, repeat;
    background-size: 404px;
    position: relative;
    top: 200px;
    margin: auto;
    height: 300px;
    width: 350px;
    background-repeat: no-repeat, repeat;
}
.cartoon_img{
    padding-top: 100px;
    height: 410px;
    margin: auto;
    display: block;
    padding-right: 154px;
}
.mengif {
    background-image: url("./images/single.png");
}
.singlemale{
    background-size: 150px;
    background-image: url("./images/single.png");
}
.singlefemale{
    background-size: 100px;
    background-image: url("./images/women.png");
}


.dashboard {
    margin-left: 300px;
    position: fixed;
    height: 100%;
    width: 100%;
}