.textbox{
    bottom: 0px;
    position: fixed;   
    padding-left: 10px

}
.conversation{
    overflow-y: auto;
    float: left;
    width:100%;
    height:calc(100% - 95px);
    overflow-y: auto;
    background-image: url("./images/chat-bg.jpg");
    background-size: contain 
}
.clear-fix{
    padding-right: 10px
}
#style-2::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
    visibility: hidden
}

#style-2::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #e1e1e1;
}
.chatWindow{
    padding-left: 0px !important;
}